---
layout: archive
author_profile: false
---

{% include base_path %}

<h2>Welcome</h2>

<div class="feature__wrapper-left">
	<div class="feature__item">
		<div class="archive__item">
			<div class="archive__item-body">
				<h2 class="archive__item-title">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>
				<div class="archive__item-excerpt">
					{% for post in site.posts limit:3 %}
						{% include archive-single.html %}
					{% endfor %}
				</div>	
			</div>
		</div>
	</div>
	<div class="feature__item">
		<div class="archive__item">
			<div class="archive__item-body">
				<h2 class="archive__item-title">Projects</h2>
				<div class="archive__item-excerpt">
				</div>	
			</div>
		</div>
	</div>
</div>