---
layout: archive
author_profile: false
---

{% include base_path %}

<h2>Welcome</h2>

<div class="two_columns__wrapper">

    <div class="two_columns__item">
		<div class="archive__item-body">
			<h2 class="archive__item-title">Recent Posts</h2>
			<div class="archive__item-excerpt">
				{% for post in site.posts limit:3 %}
				<article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">
					<h2 class="archive__item-title" itemprop="headline">
						<a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
					</h2>
					<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
				</article>
				{% endfor %}
			</div>

			<p><a href="/blog/" class="btn btn--info">Read More</a></p>
		</div>
    </div>

    <div class="two_columns__item">
		<div class="archive__item-body">
			<h2 class="archive__item-title">Latest projects</h2>
			<div class="archive__item-excerpt">
				{% for post in site.games limit:3 %}
				<article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">
					<h2 class="archive__item-title" itemprop="headline">
						<a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
					</h2>
					<p class="archive__item-excerpt" itemprop="description">
					{% if post.header.teaser %}
						<img src="{{ post.header.teaser | prepend: "/images/" | prepend: base_path }}" class="align-left" style="max-width: 110px" />
					{% endif%}
					{{ post.excerpt | markdownify | strip_html | truncate: 160 }}
					</p>
				</article>
				{% endfor %}
			</div>

			<p><a href="/blog/" class="btn btn--info">Read More</a></p>
		</div>
    </div>

</div>