{% assign appName = include.app %}

{% assign app = site.data.wp_apps[0]%}
{% for app_hash in site.data.wp_apps %}
{% assign a = app_hash[1] %}
{% if a.name == appName %}
  {% assign app = a %}
{% endif %}
{% endfor %}

# {{ app.name }}

[![{{ app.name }}]({{site.url}}{{ app.tile }} "{{ app.name }}")]({{ app.download_link }})

{{ app.description }}

## Features

{% for feature in app.features %}
- {{ feature.text }}
{% endfor %}


## Screenshots

<figure class="third">
{% for screenshot in app.screenshots) %}
<a href="{{ site.url }}{{ screenshot.link }}"><img src="{{ site.url }}{{ screenshot.link }}" /></a>
{% endfor %}
</figure>


## Download

[![Download {{ app.name }}]({{site.url}}/images/download-en-med2.png "Download {{ app.name }}")]({{ app.download_link}})
